<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
        .post-container {
            cursor: pointer;
            max-width: 15vw;
            width: 100%;
            aspect-ratio: 1/1;
            margin-bottom: 20px;
            padding: 0.5vw;
            background: #f8f9fa;
            color: #333;
            margin-bottom: 0.5vw;
            border-radius: 10px;
        }

        .post-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

        .intro {
            max-width: 100%;
        }
    </style>
</head>



<!-- <body class="bg-dark text-white">
    <%- include('nav') %>
    <div class="container mt-2 intro">
        <h4 class="text-center">Welcome to my blog.<br>Below you'll see recent and pinned posts, as well a link to my merch store.<br>Up above you can go to specific blog categories and see all the posts associated to them.<br>Feel free to subscribe to them all at this link or subscribe to individual ones from within the above categories.<br> Enjoy!</h4>
    </div>
    <div class="container mt-5">
        <div class="posts mt-4">
 <div class="posts mt-4">
            <div class="row">
                <% categories.forEach(category => { %>
                <% const recentEntry = entries[category.id]; %>
                <% if (recentEntry) { %>
                <div class="col-md-4">
                    <h2 class="category-header"><%= category.categoryname %></h2>
                    <div class="post-container" onclick="window.location.href='/post/<%= recentEntry.category_id %>/<%= recentEntry.post_id || recentEntry.project_id %>'">
                        <h3><%= recentEntry.title %></h3>
                        <p><%= new Date(recentEntry.createdate).toLocaleDateString() %></p>

                        <% if (recentEntry.photo_link) { %>
                        <img src="<%= recentEntry.photo_link %>" class="img-fluid" alt="Post Image">
                        <% } %>
                    </div>
                </div>
                <% } %>
                <% }); %>
            </div>
        </div>
        </div>
    </div>
</body> -->
<body class="bg-dark text-white">
    <%- include('nav') %>
    <div class="container mt-2 intro">
        <h4 class="text-center">
            Welcome to my blog.<br>
            Below you'll see recent and pinned posts, as well as a link to my merch store.<br>
            Up above you can go to specific blog categories and see all the posts associated with them.<br>
            Feel free to subscribe to them all at this link or subscribe to individual ones from within the above categories.<br>
            Enjoy!
        </h4>
    </div>
    <div class="container mt-5">
        <div class="posts mt-4">
            <div class="row">
                <% categories.forEach(category => { %>
                <% const recentEntry = entries[category.id]; %>
                <% if (recentEntry) { %>
                <div class="col-md-4">
                    <h2 class="category-header"><%= category.categoryname %></h2>
                    <div class="post-container" onclick="window.location.href='/post/<%= recentEntry.category_id %>/<%= recentEntry.pp_id %>'">
                        <h3><%= recentEntry.title %></h3>
                        <p><%= new Date(recentEntry.createdate).toLocaleDateString() %></p>

                        <% if (recentEntry.photo_link) { %>
                        <img src="<%= recentEntry.photo_link %>" class="img-fluid" alt="Post Image">
                        <% } %>
                    </div>
                </div>
                <% } %>
                <% }); %>
            </div>
        </div>
    </div>
</body>


</html>
