<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Blog</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
  <style>
    .post-container {
      cursor: pointer;
      max-width: 15vw;
      width: 100%;
      aspect-ratio: 1/1;
      margin-bottom: 20px;
/*      position: relative;
      overflow: hidden;*/
    }

    .post {
        padding: .5vw;
        background: #f8f9fa;
        color: #333;
        margin-bottom: .5vw;
        border-radius: 10px;
    }
/*
    .post {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 10px;
      box-sizing: border-box;
    }*/
    .post img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;


    }
  </style>

</head>
<body class="bg-dark text-white">
  <div class="container mt-5">
    <h1 class="text-center">My Blog</h1>
    <div class="posts mt-4">
      <% ['Legos', 'Just Photos', 'Other'].forEach(category => { %>
        <div class="category-section">
          <h2 class="category-header"><%= category %></h2>
          <div class="row">
            <% posts.filter(post => post.category === category).forEach((post) => { %>
              <div class="col-md-4">
                <div class="post-container" onclick="window.location.href='/post/<%= post.category %>/<%= post.id %>'">
                  <div class="post">
                    <h3><%= post.title %></h3>
                    <p><%= post.date.toDateString() %></p>
                    <% if (post.images) { %>
                      <img src="<%= post.images %>" class="img-fluid" alt="Post Image">
                    <% } %>

                  </div>
                </div>
              </div>
            <% }); %>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</body>
</html>
