<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <style>
    /*  .post-image-top img {
            display: block;
            margin: 0 auto 20px;
        }
        .post-image-bottom img {
            display: block;
            margin: 20px auto 0;
        }
        .post-image-left {
            display: flex;
        }
        .post-image-left img {
            margin-right: 20px;
        }
        .post-image-right {
            display: flex;
            flex-direction: row-reverse;
        }
        .post-image-right img {
            margin-left: 20px;
        }*/
   .post-container {
    cursor: pointer;
/*    -max-width: 15vw;*/
    width: 100%; /* Ensures it uses the max-width value */
    aspect-ratio: 1/1; /* Maintains a 1:1 aspect ratio */
    margin-bottom: 20px;
}


    .post {
        padding: .5vw;
        background: #f8f9fa;
        color: #333;
        margin-bottom: .5vw;
        border-radius: 10px;
    }

    .post h3,
    .post p {
        margin: 0;
    }

    .category-header {
        font-size: 2em;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .post img {
        width: 100%;
        
        /* No more than 33% of the window width */
/*        max-height: 20vw;*/
    }
    </style>
</head>

<body class="bg-dark text-white">
    <div class="container mt-5">
        <h1 class="text-center">My Blog</h1>
        <div class="posts mt-4">
            <div class="category-section">
                <h2 class="category-header">Legos</h2>
                <div class="row">
                    <% posts.filter(post => post.category === 'Legos').forEach((post, index) => { %>
                    <div class="col-md-4">
                        <div class="post-container" onclick="location.href='/post/<%= index %>';">
                            <div class="post">
                                <h3>
                                    <%= post.title %>
                                </h3>
                                <% if (post.images && post.images.length) { %>
                                <img src="<%= post.images[0] %>" class="img-fluid" alt="Post Image">
                                <% } %>
                                <p>
                                    <%= post.date.toDateString() %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
            <div class="category-section">
                <h2 class="category-header">Just Photos</h2>
                <div class="row">
                    <% posts.filter(post => post.category === 'Just Photos').forEach((post, index) => { %>
                    <div class="col-md-4">
                        <div class="post-container" onclick="location.href='/post/<%= index %>';">
                            <div class="post">
                                <h3>
                                    <%= post.title %>
                                </h3>
                                <% if (post.images && post.images.length) { %>
                                <img src="<%= post.images[0] %>" class="img-fluid" alt="Post Image">
                                <% } %>
                                <p>
                                    <%= post.date.toDateString() %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
            <div class="category-section">
                <h2 class="category-header">Other</h2>
                <div class="row">
                    <% posts.filter(post => post.category === 'Other').forEach((post, index) => { %>
                    <div class="col-md-4">
                        <div class="post-container" onclick="location.href='/post/<%= index %>';">
                            <div class="post">
                                <h3>
                                    <%= post.title %>
                                </h3>
                                <% if (post.images && post.images.length) { %>
                                <img src="<%= post.images[0] %>" class="img-fluid" alt="Post Image">
                                <% } %>
                                <p>
                                    <%= post.date.toDateString() %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</body>

</html>