<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/CSS/post.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
</head>

<body class="bg-dark text-white">
    <%- include('nav') %>
    <div class="container mt-5">
        <h1 class="text-center">
            <%= post.title %>
        </h1>
        <div class="post mt-4">
            <p>
                <%= post.content %>
            </p>
            <div>
                <% if (post.photo_link) { %>
                    <% if (post.photo_link.includes('youtube.com/watch') || post.photo_link.includes('youtu.be/')) { %>
                        <% 
                            // Extract video ID from URL
                            let videoId = '';
                            const url = new URL(post.photo_link);
                            if (url.hostname === 'www.youtube.com') {
                                videoId = url.searchParams.get('v');
                            } else if (url.hostname === 'youtu.be') {
                                videoId = url.pathname.slice(1);
                            }
                            const embedUrl = `https://www.youtube.com/embed/${videoId}`;
                        %>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="<%= embedUrl %>" allowfullscreen></iframe>
                        </div>
                    <% } else { %>
                        <img src="<%= post.photo_link %>" class="img-fluid <%= photoSize %>" alt="Post Image">
                    <% } %>
                <% } %>
            </div>
        </div>
        <!-- Navigation Buttons -->
        <div class="btn-navigation text-center">
          
            <% if (nextPost) { %>
                <a href="/post/<%= nextPost.category_id %>/<%= nextPost.pp_id %>" class="btn btn-primary">Next</a>
            <% } %>
              <% if (previousPost) { %>
                <a href="/post/<%= previousPost.category_id %>/<%= previousPost.pp_id %>" class="btn btn-primary">Previous</a>
            <% } %>
        </div>
    </div>
</body>

</html>
